[submodule "themes/pixyll"]
	path = themes/pixyll
	url = https://github.com/azmelanar/hugo-theme-pixyll.git
[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
